<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11G63</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SVNExternalsDocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.zennaware.Cornerstone.ExternalsDocument</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>V4ExternalsDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>compareTool</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>compare-tool.icns</string>
			<key>CFBundleTypeName</key>
			<string>Cornerstone Compare Tool</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cs2pdef</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cs2pdef.icns</string>
			<key>CFBundleTypeName</key>
			<string>Cornerstone Properties</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Cornerstone</string>
	<key>CFBundleGetInfoString</key>
	<string>2.7.10, © Zennaware GmbH 2007-2013</string>
	<key>CFBundleHelpBookFolder</key>
	<string>CornerstoneHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>Cornerstone Help</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.zennaware.Cornerstone</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Cornerstone</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7.10</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.7.10</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4D502</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0421</string>
	<key>DTXcodeBuild</key>
	<string>4D502</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.6</string>
	<key>NSMainNibFile</key>
	<string>V4MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>V4Application</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SVNRevision</key>
	<string>$Revision: 15101 $</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cornerstone Properties</string>
			<key>UTTypeIdentifier</key>
			<string>com.zennaware.cornerstone.properties</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>cs2pdef</string>
			</dict>
		</dict>
	</array>
	<key>V4SupportEmailAddress</key>
	<string>cornerstone@zennaware.com</string>
	<key>ZProductFAQURL</key>
	<string>http://www.zennaware.com/cornerstone/support.php#faq</string>
	<key>ZProductPageURL</key>
	<string>http://www.zennaware.com/cornerstone/</string>
</dict>
</plist>
